<div id = "message_box_<%= message_id %>" class = "message_box" style="display:none">
<div id = <%= message_id %>_title_barner class = "title_barner">
<div id = <%= message_id %>_title_barner_word class = "title_barner_word">
<div  id = <%= message_id %>_title_sender class = "title_sender" style="float:left">
mentoring.wcs.uiuc@gmail.com
</div>
<div  id = <%= message_id %>_title_senttime class = "title_senttime" style="float:left">
12:00:00, Apirl 1st, 2012
</div>
<div  id = <%= message_id %>_title_title class = "title_title" style="float:right">
Hello from mentor
</div>
<div class = "clr"></div>
</div>
<div  id = <%= message_id %>_title_barner_line class = "title_barner_line">
<div id = <%= message_id %>_title_sender_line class = "title_sender_line thick_line_light_color"></div>
<div id = <%= message_id %>_title_senttime_line class = "title_senttime_line thin_line_light_color"></div>
<div id = <%= message_id %>_title_title_line class = "title_title_line thick_line_light_color"></div>
<div class = "clr"></div>
</div>
</div>
<div  id = <%= message_id %>_message_content class = "message_content">
<p>Dear Mentee</p>
<p>&nbsp;&nbsp;Hello, Nice to meet you. Please ask questions!</p>
<p style="text-align:right">Your mentor</p>
</div>
</div>
