<div id = "menu_bar"><%= render "messages/menu_bar" %></div>
<div id = "input_box"><%= render "messages/input" %></div>
<div class = "clr"></div>
<div id = "click_to_view_more">...Click to View Previous Messages...</div>
<div id = "message_box_1" class = "message_box"><%= render "messages/message", :message_id => 1 %></div>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>
<%= render "messages/message_title", :message_id => 2 %>

