<!DOCTYPE html>
<html>
<head>
  <title>WcsMentoringProject Test</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="content_wrapper">
<div id="header"><%= render "layouts/header" %></div>
<div id="body"><%= yield %></div>
<div id="footer"><%= render "layouts/footer" %></div>
</div>

</body>
</html>
